@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

body{
    background-image:url(../imagenes/wp5062679-retro-80s-arcade-wallpapers.jpg) ;
    font-family: sans-serif;
}

.canvas{
    background-color:black;
    margin-left: 375px;
}

h1{
    margin-left: 550px;
    color: white;
}